/* CSS */
 .asshole-frd-btn {
    align-items: center;
    justify-content: center;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 700;
  }
  
.party-mode-asshole-frd-color-btn{
  background-color: #4fb199;
  color: #fff;
}

.dine-out-mode-asshole-frd-color-btn{
    background-color: #ffff00;
    color: #000;
  }
  
   .asshole-frd-btn:hover:after {
    transform: translate(0, 0);
  }
  
   .party-mode-asshole-frd-color-btn:hover {
    outline: 0;
    background-color: #7da4ed;
  }
  
  .dine-out-mode-asshole-frd-color-btn:hover{
    background-color: #000000;
    color: #ffe600;
  }

.noNeedPaybtn-color{
  background-color: #7cc9c2;
  color: #040404;
}

.noNeedPaybtn-color:hover{
  background-color: #ec1414;
}
  @media (min-width: 768px) {
     .asshole-frd-btn {
      padding: 0 40px;
    }
  }