.frame-wrapper{
    position: relative;
    padding-top: 1.5rem;
}

.messy-version{
    background-color: #d7a219;
}

.frame-content{
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    border-radius: 0.5rem;
}

.messy-title-color{
    color:#e1fbfb;
}

.messy-mode-share-food{
    text-align: start;
    padding-left: 0.2rem;
    font-weight: 600;
    color:#107572;
    font-size: large;
}

.messy-total-amount{
    color:#e1fbfb;
    font-weight: 600;
    font-size: large;
    text-align: start;
    padding-left: 0.2rem;
}

.messy-mode-notShare-Input{
    gap:0.5rem;
}

.notshare-text-color{
    color: #000;
}

.not-need-to-pay-title{
    text-align: start;
    color:#057a76;
    font-weight: 600;
}

.total-you-should-pay{
     border-radius: 0.3rem;
     background-color: antiquewhite;
     font-weight: 600;
     padding-top: 1.5rem;
     padding-bottom:1.5rem;
}

.result-wrapper{
    background-color: #99DCE3;
    border-radius: 0.3rem;
}
.reult-title{
    color: #042123;
}
.result-container{
   padding-top: 1rem;
   padding-bottom:1rem;
}

.should-pay-to-text-style{
    color:#D54741;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .not-need-to-pay-title,
    .messy-mode-share-food
    {
        text-align: center;
    }
}