.frame-wrapper{
    position: relative;

}

.frame-container{
    position: relative;
    display: block;
    width: 100%;
    background-color: rgb(124, 145, 221);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 0.5rem;
}

.upper-frame-section{
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    border-radius: 0.5rem;
}


.input-field{
    padding:0.8rem;
    outline: none;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    resize: none;
    transition: 0.5s ease-out;
    color:#000;
    font-weight: 700;
    font-size: large;
}


.total-amount{
    font-size: large;
    font-weight: 600;
}
