.output-frame-container{
    padding: 1.5rem;
}

.frame-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s ease-out;
}

.each-frame{
    padding: 1.5rem;
    transition: 0.5s ease-out;
}

.share-frame-wrapper{
    padding: 2rem;
    transition: 0.5s ease-out;
}

.share-frame-container{
    border-radius: 0.5rem;
    padding:3.5rem;
    flex-direction: column;
    background-color: #16A39E;
}

.notice-wrapper{
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.notice-container{
    margin-top: 2rem;
}

  .notice-text{
       font-size: large;
       font-weight: 600;
       background-color: #16A39E;
       color: #FCD53B;
       border-radius: 0.5rem;
       padding-left:1.5rem;
       padding-right:1.5rem;
       padding-top:0.5rem;
       padding-bottom:2.5rem;
 }

.share-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  .example2-assholefrd-wrapper{
    margin-bottom: 1.5rem;
  }

  .example2-assholefrd-container{
    border-radius: 0.5rem;
    background-color: #b49106;
    padding: 1.5rem;
    color: #fff;
  }

  .label-share-info {
    padding: 0.5rem;
    font-size: large;
    color: #FCD53B;
    font-weight: 700;
  }
  
  .per-person{
    padding-top: 1rem;
    font-size: large;
    color: #FCD53B;
    font-weight: 700;
  }

.input-field-share{
    padding:1.5rem;
    outline: none;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    resize: none;
    transition: 0.5s ease-out;
    color:#000;
    font-weight: 700;
    font-size: large;
    color: #b49106;
}


.calculate-btn-container{
    padding-bottom: 1.5rem;
}

.warning-frame-wrapper{
    padding: 2.5rem;
}

.warning-frame-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgb(247, 221, 186);
    border-radius: 0.5rem;
}
.assholeFrd-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s ease-out;
    padding: 0.5rem;
}

.assholeFrd-info{
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    width: 300px;
    font-size: large;
    font-weight: 600;
    color: #FCD53B;
}
.waring-text-assholefrd{
    color: #c1063e;
}

.TotalBill-checking-wrapper{
    padding: 2rem;
}

.TotalBill-checking-container{
    background-color: #FCD53B;
    border-radius:0.5rem;
    padding: 2.5rem;
}
.TotalBill-info{
    font-size: large;
    font-weight: 600;
}
@media screen and (max-width:500px) {
    .notice-wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
  
    .assholeFrd-info{
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        width: auto;
        font-size: large;
    }
  
    .notice-container{
        padding:2.5rem;
    }
}

@media screen and (max-width:280px) {
    .input-field-share{
        font-size: medium;
        padding:0;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }
    .input-field-share[type=text]{
        padding: 15px 7px;
    }

    .frame-group{
        flex-wrap: nowrap;
        flex-direction: column;
    }
}