.warning-title-2{
   animation: warning-title-fade 1s forwards;
}

.warning-title-1{
    animation: warning-title-fade-1 1s forwards;
}

.warning-text{
    font-size: x-large;
    font-weight: 600;
}
.aladdin{
    padding-top: 1rem;
    width: 540px;
}

.aladdin-jasmine{
    padding-top: 1rem;
    width: 340px;
}

@media screen and (max-width:900px){
    .aladdin{
        width: 100%;
    }
    .aladdin-jasmine{
        width: 100%;
    }
}

@keyframes warning-title-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes warning-title-fade-1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}