.App{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.5rem;
}
.app-container{
  border-radius: 0.5rem;
  transition: background-color ease-in 0.5s;
  
  padding: 1.8rem;
}

.topic-bg-color-yellow{
  background-color: #FEDD7A;
}
.topic-bg-color-blue{
  background-color: #65C5C8;
}

.justifySpaceBetween{
  gap:1rem;
}

.languageBtn{
  cursor: pointer;
}

.active{
  color:#9614ba
}



.change-mode-button{
   --s: 30px; /* adjust this to control the size*/
  height: var(--s);
  aspect-ratio: 2.5;
  width: auto; /* some browsers need this */
  border-radius: var(--s);
  padding: calc(var(--s)/10);
  margin: calc(var(--s)/2);
  cursor: pointer;
  background:
    radial-gradient(farthest-side,#15202a 96%,#0000) 
      var(--_p,0%)/var(--s) content-box no-repeat,
    var(--_c,#65C5C8);
  box-sizing: content-box;
  transform-origin: calc(3*var(--s)/5) 50%;
  transition: background .2s .1s ease-in;;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.change-mode-button.toggled{
    --_c: #FEDD7A;
    --_p: 100%;
    transform-origin: calc(100% - 3*var(--s)/5) 50%;
    transform: rotate(0.1deg);
}


@media screen and (max-width:400px) {
    .mode-wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
     }
}

.keyWord-bold-color{
  font-weight: 750;
  color:rgb(186, 60, 1);
}